{{!--
Description:
Materialize nav bar
--> Add more features: https://materializecss.com/sidenav
--}}

<header>
    <nav class="{{theme.navBar.themeColor}} lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">{{navBar.title}}</a>
            <ul class="right hide-on-med-and-down">
                {{#each navBar.navBarLinks}}
                <li><a href="{{this.url}}">{{this.text}}</a></li>
                {{/each}}
            </ul>

            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    </nav>
</header>
<ul id="slide-out" class="sidenav sidenav-fixed">
    {{#if navBar.loggedIn}}
    <li>
        <div class="user-view">
            <div class="background">
                <img src="{{navBar.account.bgPicture}}">
            </div>
            <a href="#user"><img class="circle materialboxed" src="{{navBar.account.profilePicture}}" onclick='this.src="{{navBar.account.profilePictureBig}}"'></a>
            <a href="#name"><span class="white-text name">{{navBar.account.name}}</span></a>
            <a href="#email"><span class="white-text email">{{navBar.account.id}}</span></a>
        </div>
    </li>
    {{else}}
    <br>
    <div class="center-align">
        <a class="waves-effect waves-light btn-large {{theme.navBar.loginButtonColor}}" href="{{navBar.button.url}}"><i class="material-icons right">{{navBar.button.icon}}</i>{{navBar.button.text}}</a>
    </div>
    <br>
    {{/if}}

    {{#each navBar.sidebarLinks}}
    <li>
        {{#if this.isLink}}
        <a class="waves-effect" href="{{this.url}}">{{this.title}}</a>
        {{else if this.isIconLink}}
        <a class="waves-effect" href="{{this.url}}"><i class="material-icons">{{this.icon}}</i>{{this.title}}</a>
        {{else if this.isDivider}}
        <div class="divider"></div>
        {{else if this.isSubHeader}}
        <a class="subheader">{{this.subHeader}}</a>
        {{/if}}
    </li>
    {{/each}}
    <br>
    <br>
</ul>
