{{!--
Description:
Materialize footer
--}}

<footer class="page-footer {{theme.footer.mainColor}}">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="{{theme.footer.bio.titleColor}}-text">{{footer.bio.title}}</h5>
                <p class="{{theme.footer.bio.textColor}}-text text-lighten-4">{{footer.bio.text}}</p>
            </div>
            {{#each footer.lists}}
            <div class="col l3 s12">
                <h5 class="{{../theme.footer.links.titleColor}}-text">{{this.title}}</h5>
                <ul>
                    {{#each this.links}}
                    <li><a class="{{../../theme.footer.links.textColor}}-text" href="{{this.url}}">{{this.text}}</a></li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            {{footer.madeBy.text}} {{#each footer.madeBy.links}}<a class="{{../theme.footer.copyright.linkColor}}-text text-lighten-3"
                href="{{this.url}}">{{this.text}}</a>{{/each}}
        </div>
    </div>
</footer>
