{{!--
Description:
Error page template (Needs materialize css, js)
--}}

{{!-- Center content vertically and horizontally --}}
<div class="valign-wrapper" style="width:100%;min-height:100%;position: absolute;">
	<div class="valign" style="width:100%;">

		{{!-- Create a responsive materialize.css card --}}
		<div class="container">
			<div class="col s10 m10 l10 offset-s1 offset-m1 offset-l1 valign">
				<div class="card {{theme.errorCard.cardColor}}">
					<div class="card-content {{theme.errorCard.textColor}}-text">

						{{!-- Big error title/message --}}
						<span class="card-title">{{customError.message}}</span>

						{{!-- Even bigger error status --}}
						<h2>{{customError.status}}</h2>

						{{!-- Links to other websites --}}
						{{#if customLinks.hasLinks}}
						{{#each customLinks.links}}
						<a class="waves-effect waves-light btn-large {{../theme.errorCard.customLinks.buttonColor}} {{../theme.errorCard.customLinks.textColor}}-text" href="{{this.link}}"><i class="material-icons left">insert_link</i>{{this.text}}</a>
						<br><br>
						{{/each}}
						{{/if}}

						{{!-- Advanced error stack (development) --}}
						{{#if displayError}}
						<br><br>
						<ul class="collapsible">
							{{!-- Error stack --}}
							<li>
								<div class="collapsible-header {{theme.errorCard.collapsible.bgColor}} {{theme.errorCard.collapsible.textColor}}-text">
									<i class="material-icons">code</i>Error stack
								</div>
								<div class="collapsible-body {{theme.errorCard.collapsible.bgColor}} {{theme.errorCard.collapsible.textColor}}-text">
									<span>
										<pre style="overflow-x:scroll">{{customError.stack}}</pre>
									</span>
								</div>
							</li>
							{{!-- Used Parameters --}}
							{{#if customBody.hasBody}}
							<li>
								<div class="collapsible-header {{theme.errorCard.collapsible.bgColor}} {{theme.errorCard.collapsible.textColor}}-text">
									<i class="material-icons">list</i>Request body
								</div>
								<div class="collapsible-body {{theme.errorCard.collapsible.bgColor}} {{theme.errorCard.collapsible.textColor}}-text">
									<span>
										<pre><code class="language-json">{{customBody.body}}</code></pre>
									</span>
								</div>
							</li>
							{{/if}}
						</ul>
						{{/if}}

					</div>
				</div>
			</div>
		</div>

	</div>
</div>
