{{!--
Description:
Login/Register page template (Needs materialize css, js)
Post parameter ([Test regex here](https://regex101.com/)):
- *account_id* (string) [Regex: `^\w{4,16}$`]
- *account_password* (string) [Regex: `.{6,}`]
--}}

{{!-- Center content vertically and horizontally --}}
<div class="valign-wrapper" style="width:100%;min-height:100%;position: absolute;">
	<div class="valign" style="width:100%;">

		{{!-- Create a responsive materialize.css card --}}
		<div class="container">
			<div class="col s12 m10 l8 offset-s0 offset-m1 offset-l2 valign">
				<div class="card">
					<div class="card-content">

						{{!-- Card title --}}
						<span class="card-title">{{loginRegisterCard.title}}</span>

						<br><br>

						{{!-- Form: Account id + password input --}}
						<form id="loginRegisterForm" class="valign" action="/account/action/login" method="post">
							<div class="row">
								{{!-- Account id input --}}
								<div class="input-field col s12">
									<i class="material-icons prefix">account_circle</i>
									<input class="validate" id="input_account_id" name="account_id" placeholder="{{loginRegisterCard.accountIdInput.placeholder}}"
									 pattern="{{loginRegisterCard.accountIdInput.pattern}}" maxlength="{{loginRegisterCard.accountIdInput.maxInputLength}}"
									 title="{{loginRegisterCard.accountIdInput.patternWrongTitle}}" autocomplete="username" type="text" required>
									<label for="input_account_id">{{loginRegisterCard.accountIdInput.title}}</label>
								</div>
							</div>
							<div class="row">
								{{!-- Password input --}}
								<div class="input-field col s12">
									<i class="material-icons prefix">vpn_key</i>
									<input class="validate" id="input_account_password" name="account_password" placeholder="{{loginRegisterCard.accountPasswordInput.placeholder}}"
									 pattern="{{loginRegisterCard.accountPasswordInput.pattern}}" title="{{loginRegisterCard.accountPasswordInput.patternWrongTitle}}"
									 autocomplete="current-password" type="password" required>
									<label for="input_account_password">{{loginRegisterCard.accountPasswordInput.title}}</label>
								</div>
							</div>
							{{!-- Invisible submit input to allow submission on enter in any of the previous text input fields --}}
							<input type="submit" style="display:none" />
						</form>

					</div>

					{{!-- Card actions --}}
					<div class="card-action">
						{{!-- Login action button --}}
						<a id="loginAction" class="waves-effect waves-light btn-large {{theme.loginRegisterCard.loginButtonColor}}" style="margin-right: 15px">
							<i class="material-icons left">lock_open</i>{{loginRegisterCard.loginButton.title}}
						</a>
						{{!-- Register action button --}}
						<a id="registerAction" class="waves-effect waves-light btn-large {{theme.loginRegisterCard.registerButtonColor}}">
							<i class="material-icons left">person_add</i>{{loginRegisterCard.registerButton.title}}
						</a>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>

{{!-- Special script to handle post request buttons to login/register --}}
<script src="/js/loginRegister.js"></script>
